/* footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 30px 50px;
    gap: 10px;
    background-color: #1f2937;
}

footer a{
    margin: 0;
    color: #9ca3af;
}
 */






 .footer {
  padding: 45px 8% 20px;

  background: #01030b;

  border-top: 1px solid #151d33;

  color: white;
}

.footer-content {
  display: flex;

  justify-content: space-between;

  align-items: center;

  max-width: 1100px;

  margin: auto;
}

.footer-brand h2 {
  margin: 0;

  font-size: 23px;
}

.footer-brand h2 span {
  color: #8b5cf6;
}

.footer-brand p {
  margin-top: 8px;

  color: #737f96;

  font-size: 12px;
}

.footer-links {
  display: flex;

  gap: 25px;
}

.footer-links a {
  color: #8e99ae;

  font-size: 13px;

  text-decoration: none;
}

.footer-links a:hover {
  color: #a78bfa;
}

.footer-bottom {
  max-width: 1100px;

  margin: 30px auto 0;

  padding-top: 18px;

  border-top: 1px solid #151d33;

  text-align: center;

  color: #566176;

  font-size: 11px;
}


@media (max-width: 600px) {

  .footer-content {
    flex-direction: column;

    gap: 25px;

    text-align: center;
  }

  .footer-links {
    flex-wrap: wrap;

    justify-content: center;
  }

}